@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* Resets */
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    letter-spacing: -1px;
}
h2 {
    margin-bottom: 2rem;
}

img {
    width: 100%;
}
ul {
    padding-left: 0;
    list-style: none;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 a {
    color: inherit;
    text-decoration: none;
}
header, main {
    padding: 2rem 6rem;
}
nav > ul {
    display: flex;
}
nav li {
    margin-left: 2rem;
}

/* Page styles */

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
form {
    max-width: 200px;
}
input {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
[type=submit] {
    border: none;
    background-color: hsl(240, 50%, 50%);
    color: #fff;
    font-weight: 700;
    padding: 1rem;
}
.error-message {
    color: hsl(0, 50%, 50%);
}
